{{#> layout title="Bell auth test" }}

    {{#*inline "styles-block"}}
        .page-search {
          width: 100%;
          border-width: 0 0 1px 0;
          border-color: black;
          font-size: 2rem;
          text-align: center;
          outline: 0;
        }
        ::placeholder {
          color: rgba(0,0,0,0.3);
        }
    {{/inline}}

    {{#*inline "content"}}
    <main>
      Hello, Bell.
    </main>
    {{/inline}}

{{/layout}}
